.top{
	border-radius: 25px;
  background:gray;
  padding: 20px;
  width: 100%;
  height:100%; 
}


.a{
	border-radius: 25px;
  background: dimgray;
  padding: 20px;
  width: 400px;
  height: 300px; 
}
.b{
  border-radius: 25px;
  background: dimgray;
  padding: 20px;
  width: 400px;
  height: 300px; 
  position: absolute;
  right: 50%;
  left: 50%;
  top: 5%;
}
.un{
	position: absolute;
  top: 8px;
  bottom: 10px;
  font-size: 18px;
}
.d{
	color: white;
}
.pwd{
	border: 3px solid blue;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn{
		border: 3px solid blue;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  font-size: large;
}